<h1>Welcome to BookKeeper</h1>
<p>
	It's <strong><%= Time.now %>.</strong>
</p>
<h3>We have <strong><%= pluralize(@total_orders, "order") %>.</strong></h3>
<h5>Navigate through side bar for accessing information.</h5>