<h1> BookKeeper Online Store </h1>
<h2> Order Shipped </h2>
<p> This is to let you know that your recent order has been shipped. The details of the order are listed as follows: </p>
<table>
	<tr><th colspan="2">Quantity</th><th>Description</th></tr>
	<%= render @order.line_items -%>
</table>